footer#footer.main-footer.show-for-large-up
  .row
    .large-12.columns
      section.columns
        .column
          h3.title Service
          ul.list
            li.item
              a.link(href='#') Mijn hanos.nl
            li.item
              a.link(href='#') Klantenservice
            li.item
              a.link(href='#') Click and Carry
            li.item
              a.link(href='#') Bezorging
            li.item
              a.link(href='#') Openingstijden
        .column
          h3.title it's a concept
          ul.list
            li.item
              a.link(href='#') Acties & voordeel
            li.item
              a.link(href='#') Masterclasses & activiteiten
            li.item
              a.link(href='#') Culinaire advies
            li.item
              a.link(href='#') Partners
            li.item
              a.link(href='#') Formules & concepten
        .column
          h3.title de wereld van hanos
          ul.list
            li.item
              a.link(href='#') Over HANOS
            li.item
              a.link(href='#') Werken bij HANOS
            li.item
              a.link(href='#') Nieuws & pers
            li.item
              a.link(href='#') Klant worden
            li.item
              a.link(href='#')
        .column.esm
          .newsletter
            form
              label Altijd op de hoogte
              p.newsletter-intro
                | Via onze nieuwsbrief bent u altijd op de hoogte van de laatste acties, nieuwtjes en meer...
              input.newsletter-email(placeholder='Uw emailadres', type='text')
              button.newsletter-button(type='submit') AANMELDEN                  
          .sm-icons
            h3.sm-title Volg ons ook via
            a.icon(href='#')
              span.icon-fb.fa.fa-facebook
            a.icon(href='#')
              span.icon-tw.fa.fa-twitter
            a.icon(href='#')
              span.icon-yt.fa.fa-youtube
