footer#footer.subfooter.show-for-large-up
  .row
    .large-12.columns
      .content
        .logo
          a.logo-link(href='#')
            img.logo-image(src='images/hanosLogoWit.svg')
        ul.list
          li.item
            a.link(href='#') Algemene voorwaarden
          li.item
            a.link(href='#') Cookies & banners
          li.item
            a.link(href='#') Veilig bestellen
          li.item
            a.link(href='#') Privacy policy
          li.item.copyright © 2014 HANOS
