header.mob-header
  include ../partials/mob-header/main
  include ../partials/mob-header/search
aside.left-off-canvas-menu
  ul.off-canvas-list
    li
      label Menu
    li
      a(href='#') The Psychohistorians
    li
      a(href='#') The Encyclopedists
    li
      a(href='#') The Mayors
    li
      a(href='#') The Traders
    li
      a(href='#') The Merchant Princes
aside.right-off-canvas-menu
  ul.off-canvas-list
    li
      label Winkelwagen
    li
      a(href='#') Hari Seldon
    li
      a(href='#') R. Giskard Reventlov
    li
      a(href='#') ...
//- aside.right-off-canvas-menu
//-   ul.off-canvas-list
//-     li
//-       label Winkelwagen
//-     li
//-       a(href='#') Hari Seldon
//-     li.has-submenu
//-       a(href='#') R. Giskard Reventlov
//-       ul.right-submenu
//-         li.back
//-           a(href='#') Back
//-         li
//-           label Level 1
//-         li
//-           a(href='#') Link 1
//-         li.has-submenu
//-           a(href='#') Link 2 w/ submenu
//-           ul.right-submenu
//-             li.back
//-               a(href='#') Back
//-             li
//-               label Level 2
//-             li
//-               a(href='#') ...
//-         li
//-           a(href='#') ...
//-     li
//-       a(href='#') ...