footer.mob-footer-main
  .row
    .small-12.medium-12.columns
      ul.items
        li.item.border-right
          a.link(href='#') Algemene voorwaarden          
        li.item
          a.link(href='#') Cookies & banners
      ul.items
        li.item.border-right
          a.link(href='#') Veilig bestellen
        li.item
          a.link(href='#') Privacy policy          
      a.logo(href='#')
        img.logo-image(src='images/hanosLogo.svg')
        p.logo-pay-off internationale horeca groothandel        
        p.logo-copyright © 2014 HANOS

