footer.mob-footer-menu
  .row
    ul.items.utilities
      li.item.title 
        h3.utilities-title Mijn HANOS
      li.item.border-right
        a.link(href='#')
          span.icon.login
            i.fa.fa-user
          p.text Inloggen
      li.item
        a.link(href='#')
          span.icon.orderlist
            i.fa.fa-clipboard
          p.text Mijn bestellijst
      li.item.border-right
        a.link(href='#')
          span.icon.shop
            i.fa.fa-map-marker
          p.text Mijn groothandel
      li.item
        a.link(href='#')
          span.icon.recipe
            i.fa.fa-heart 
          p.text Mijn recepten
      li.item.border-right
        a.link(href='#')
          span.icon.email
            i.fa.fa-user
          p.text Email voordeel
      li.item
        a.link(href='#')
          span.icon.lastviewed
            i.fa.fa-stack-overflow
          p.text Laast bekeken
      li.item.border-right
        a.link(href='#')
          span.icon.customerservice
            i.fa.fa-star
          p.text Klantenservice
      li.item
        a.link(href='#')
          span.icon.orderstatus
            i.fa.fa-truck
          p.text Bestelstatus
    .sm-buttons
      h3.sm-title Volg ons ook via
      .sm-icons
        a.sm-icon-link.fb(href='#')
          span.sm-icon 
            i.fa.fa-facebook
        a.sm-icon-link.tw(href='#')
          span.sm-icon
             i.fa.fa-twitter
        a.sm-icon-link.yt(href='#')
          span.sm-icon
             i.fa.fa-youtube
    .desktop-button
      a.link(href='#')
        i.fa.fa-desktop
        span Bekijk desktopversie
