/*------------------------------------*\
    TYPE
\*------------------------------------*/
 //====================================================================
 // Type Specific Styles (h1 t/m h6, p, blockquote, bullets, typesizes)
 //==================================================================== 
 

 .colorPalette{line-height:$base-line-height; 
 	code {color:$color12;}
	.color1,.color2, .color3, .color4, .color5, .color6, .color7, .color8, .color9, .color10, .color11, .color12{padding:15px;}
}

.colorPalette > .color12 > code{color:$color11;}


.color1{background:$color1-dark10;}
.color1:nth-child(2){background:$color1-dark5;}
.color1:nth-child(3){background:$color1;}
.color1:nth-child(4){background:$color1-light5;}
.color1:nth-child(5){background:$color1-light10;}
.color1:nth-child(6){background:$color1-light15;}
.color1:nth-child(7){background:$color1-light20;}


.color2{background:$color2-dark10;}
.color2:nth-child(2){background:$color2-dark5;}
.color2:nth-child(3){background:$color2;}
.color2:nth-child(4){background:$color2-light5;}
.color2:nth-child(5){background:$color2-light10;}
.color2:nth-child(6){background:$color2-light15;}
.color2:nth-child(7){background:$color2-light20;}

.color3{background:$color3-dark10;}
.color3:nth-child(2){background:$color3-dark5;}
.color3:nth-child(3){background:$color3;}
.color3:nth-child(4){background:$color3-light5;}
.color3:nth-child(5){background:$color3-light10;}
.color3:nth-child(6){background:$color3-light15;}
.color3:nth-child(7){background:$color3-light20;}

.color4{background:$color4-dark10;}
.color4:nth-child(2){background:$color4-dark5;}
.color4:nth-child(3){background:$color4;}
.color4:nth-child(4){background:$color4-light5;}
.color4:nth-child(5){background:$color4-light10;}
.color4:nth-child(6){background:$color4-light15;}
.color4:nth-child(7){background:$color4-light20;}

.color5{background:$color5-dark10;}
.color5:nth-child(2){background:$color5-dark5;}
.color5:nth-child(3){background:$color5;}
.color5:nth-child(4){background:$color5-light5;}
.color5:nth-child(5){background:$color5-light10;}
.color5:nth-child(6){background:$color5-light15;}
.color5:nth-child(7){background:$color5-light20;}

.color6{background:$color6-dark10;}
.color6:nth-child(2){background:$color6-dark5;}
.color6:nth-child(3){background:$color6;}
.color6:nth-child(4){background:$color6-light5;}
.color6:nth-child(5){background:$color6-light10;}
.color6:nth-child(6){background:$color6-light15;}
.color6:nth-child(7){background:$color6-light20;}

.color7{background:$color7-dark10;}
.color7:nth-child(2){background:$color7-dark5;}
.color7:nth-child(3){background:$color7;}

.color8{background:$color8-dark10;}
.color8:nth-child(2){background:$color8-dark5;}
.color8:nth-child(3){background:$color8;}
.color8:nth-child(4){background:$color8-light5;}
.color8:nth-child(5){background:$color8-light10;}
.color8:nth-child(6){background:$color8-light15;}
.color8:nth-child(7){background:$color8-light20;}

.color9{background:$color9-dark10;}
.color9:nth-child(2){background:$color9-dark5;}
.color9:nth-child(3){background:$color9;}
.color9:nth-child(4){background:$color9-light5;}
.color9:nth-child(5){background:$color9-light10;}
.color9:nth-child(6){background:$color9-light15;}
.color9:nth-child(7){background:$color9-light20;}

.color10{background:$color10-dark10;}
.color10:nth-child(2){background:$color10-dark5;}
.color10:nth-child(3){background:$color10;}
.color10:nth-child(4){background:$color10-light5;}
.color10:nth-child(5){background:$color10-light10;}
.color10:nth-child(6){background:$color10-light15;}
.color10:nth-child(7){background:$color10-light20;}

.color11{background:$color11-dark10;}
.color11:nth-child(2){background:$color11-dark5;}
.color11:nth-child(3){background:$color11;}
.color11:nth-child(4){background:$color11-light5;}
.color11:nth-child(5){background:$color11-light10;}
.color11:nth-child(6){background:$color11-light15;}
.color11:nth-child(7){background:$color11-light20;}

.color12{background:$color12;}
.color12:nth-child(2){background:$color12-dark5;}
.color12:nth-child(3){background:$color12-dark10;}
.color12:nth-child(4){background:$color12-dark15;}
.color12:nth-child(5){background:$color12-dark20;}