section.mob-header-main.tab-bar
  .row
    section.left-small
      a.left-off-canvas-toggle.menu-icon(href="#")
        span
    section.middle.tab-bar-section
      a.logo(href='#')
        img.logo-image(src='images/hanosLogoWit.svg')
    section.right-small
      a.right-off-canvas-toggle.shopping-chart(href='#')
        img.shopping-chart-image(src='images/shoppingChartWhite.svg')
    //- a.menu(href='#')
    //-   img.menu-icon(src='images/btn-header-menu_2x-35x35.png', data-rimage='data-rimage', data-src='images/btn-header-menu_2x-35x35.png', data-srcat2x='images/btn-header-menu_2x-35x35@2x.png')
