section.mob-header-search
  .row
    .small-12.medium-12.columns
      form.search-form
        input.search-input(name='siteSearch', placeholder='Zoek in alle artikelen...', type='search')
        button.search-button.icon-search(type='submit')
          i.fn.fa-search