section#brands.nav-brands.show-for-large-up.js-brands-nav
  .row
    .large-12.columns
      ul.brands.left
        li.brand-column.col1
          a#hanos.brand.ha(href='#')
            span.title HANOS
            span.subtitle Groothandel                  
         a#kajspan.brand.ka(href='#')
            span.title Kaja
            span.subtitle Inrichting
        li.brand-column.col2
          a#vangestel.brand.vg(href='#')
            span.title Van gestel
            span.subtitle Apparatuur
          a#fourcroy.brand.fc(href='#')
            span.title Fourcroy
            span.subtitle Wijnen
        li.brand-column.col3
          a#janvanas.brand.jva(href='#')
            span.title Jan van as
            span.subtitle Versvishandel
          a#distrivers.brand.di(href='#')
            span.title distrivers
            span.subtitle Zorgcatering
        li.brand-column.col4(href='#')
          a#vanderzee.brand.vdz(href='#')
            span.title Van der zee
            span.subtitle Horecaslagerij
          a#anytyme.brand.at(href='#')
            span.title Anytyme
            span.subtitle Fastservice
        li.brand-column.col5
          a#kerstpakketten.brand.kp(href='#')
            span.title kerstpakketten
            span.subtitle Relatiegeschenken
      img#brand-pointer.triangle-up-purple.js-brand-pointer(alt='brandPointer', src='images/triangle-19x8.gif', data-rimage='data-rimage', data-src='images/triangle-19x8.gif')
