section#brands.nav-brands.show-for-large-up.js-brands-nav
  .row
    .large-12.columns
      ul.brands
        li.brand-column.br-col1
          a#hanos.brand.br-ha(href='#')
            span.title HANOS
            span.subtitle Groothandel                  
          a#kaja.brand.br-ka(href='#')
            span.title Kaja
            span.subtitle Inrichting
        li.brand-column.br-col2
          a#vangestel.brand.br-vg(href='#')
            span.title Van gestel
            span.subtitle Apparatuur
          a#fourcroy.brand.br-fc(href='#')
            span.title Fourcroy
            span.subtitle Wijnen
        li.brand-column.br-col3
          a#janvanas.brand.br-jva(href='#')
            span.title Jan van as
            span.subtitle Versvishandel
          a#distrivers.brand.br-di(href='#')
            span.title distrivers
            span.subtitle Zorgcatering
        li.brand-column.br-col4
          a#vanderzee.brand.br-vdz(href='#')
            span.title Van der zee
            span.subtitle Horecaslagerij
          a#anytyme.brand.br-at(href='#')
            span.title Anytyme
            span.subtitle Fastservice
        li.brand-column.br-col5
          a#kerstpakketten.brand.br-kp(href='#')
            span.title kerstpakketten
            span.subtitle Relatiegeschenken
      img#brand-pointer.triangle-up-purple.js-brand-pointer(alt='brandPointer', src='images/triangle-19x8.gif', data-rimage='data-rimage', data-src='images/triangle-19x8.gif')