section.header-corporate.show-for-large-up
  .row
    .large-12.columns
      a.logo(href='index.html')
        img#hanos-logo.logo-image(alt='HANOS Internationale Horeca Groothandel', src='images/hanosLogo.svg')
      div.corp-nav
        a.corporatelinks.customercard(href='#') Klant worden
        a.corporatelinks.folders(href='#') Courant
      a.shopbasket(href='#')
        img.icon-shopbasket(src='images/shoppingChart.svg')
      form#search.sitesearch
        input.input-search(placeholder='Zoeken', type='text')
        select.select-search(name='Categories')
          option(value='Alle artikelen') Alle artikelen
          option(value='AGF') AGF
          option(value='Brood en banket') Brood en banket
          option(value='Dranken') Dranken
          option(value='Kaas, zuivel en eieren') Kaas, zuivel en eieren
          option(value='Kruidenierswaren') Kruidenierswaren
          option(value='Maaltijden en salades') Maaltijden en salades
          option(value='Non-food') Non-food
          option(value='Rookwaren') Rookwaren
          option(value='Snacks en ijs') Snacks en ijs
          option(value='Vis') Vis
          option(value='Vlees en vleeswaren') Vlees en vleeswaren
          option(value='Wijn en gedistilleerd') Wijn en gedistilleerd
          option(value='Wild en gevogelte') Wild en gevogelte
          option(value='Was, reiniging en cosmetica') Was, reiniging en cosmetica
          option(value='------------------------------------------') ------------------------------------------
          option(value='Bereidingswijzen') Bereidingswijzen
          option(value='Blogs en verhalen') Blogs en verhalen
        button.icon.icon-search(type='submit')
          i.fn.fa-search
      
