section.main-nav.show-for-large-up
  .contain-to-grid
    nav.top-bar(data-topbar)
      section.top-bar-section
        ul.left
          li
            a(href='#') Aanbiedingen
          li
            a(href='#') Assortiment
          li
            a(href='#') Inspiratie
          li
            a(href='#') Informatie
          li
            a(href='#') Events
          li
            a(href='#') Concepten
          li.has-dropdown
            a(href='#') Groothandels
            ul.dropdown
              li
                a(href='#') Zwolle
              li.has-dropdown
                a(href='#') Apeldoorn
                ul.dropdown
                  li
                    a(href='#') HANOS Apeldoorn
                  li
                    a(href='#') HIS
                  li
                    a(href='#') Kerstpakkettencentrale