section.header-actions-payoff-service.show-for-large-up
  .row
    .large-12.columns
      a.pay-off(href='#') Er gaat een wereld voor u open
      .service-brands.js-toggle-brands
        a.service-brands-link(href='#')
          span.service-icon.icon-brands
            i.fa.fa-angle-double-up
          span.service-text.text-brands Onze merken
          span.icon-arrow-down
            i.fa.fa-sort-desc
      .service-customer
        a.service-customer-link(href='#')
          img.service-icon.icon-service(src='images/starr.svg')
          span.service-text.text-customer Klantenservice
      .service-account
        a.service-account-link(href='#')
          span.service-icon.icon-account
            i.fa.fa-user 
          span.service-text.text-account Mijn hanos.nl
          span.icon-arrow-down
            i.fa.fa-sort-desc