extends layout/layout
include mixins/placeholders
block content
	.row.colorPalette
		.small-12.large-12.columns.color1
			code $color1-dark10 = darken($color1, 10%); = #240020
		.small-12.large-12.columns.color1
			code $color1-dark5 = darken($color1, 5%); = #3E0037
		.small-12.large-12.columns.color1
			code $color1: #57004e; = #57004E
		.small-12.large-12.columns.color1
			code $color1-light5: lighten($color1, 5%); = #710065
		.small-12.large-12.columns.color1
			code $color1-light10: lighten($color1, 10%); = #8A007C
		.small-12.large-12.columns.color1
			code $color1-light15: lighten($color1, 15%); = #A40093
		.small-12.large-12.columns.color1
			code $color1-light20: lighten($color1, 20%); = #BD00A9
		hr
	.row.colorPalette
		.small-12.large-12.columns.color2
			code $color2-dark1; = darken($color2, 10%); = #FFBF1A
		.small-12.large-12.columns.color2
			code $color2-dark5; = darken($color2, 5%); = #FFC633
		.small-12.large-12.columns.color2
			code $color2; = #FFCD4D
		.small-12.large-12.columns.color2
			code $color2-light5; = lighten($color2, 5%); = #FFD466
		.small-12.large-12.columns.color2
			code $color2-light10; = lighten($color2, 10%); = #FFDB80
		.small-12.large-12.columns.color2
			code $color2-light15; = lighten($color2, 15%); = #FFE29A
		.small-12.large-12.columns.color2
			code $color2-light20; = lighten($color2, 20%); = #FFEAB3
		hr
	.row.colorPalette
		.small-12.large-12.columns.color3
			code $color3-dark10: darken($color3, 10%); = #A32929
		.small-12.large-12.columns.color3
			code $color3-dark5: darken($color3, 5%); = #B82E2E
		.small-12.large-12.columns.color3
			code $color3; = #CC3333
		.small-12.large-12.columns.color3
			code $color3-light5: lighten($color3, 5%); = #D14747
		.small-12.large-12.columns.color3
			code $color3-light10: lighten($color3, 10%); = #D65C5C
		.small-12.large-12.columns.color3
			code $color3-light15: lighten($color3, 15%); = #DB7070
		.small-12.large-12.columns.color3
			code $color3-light20: lighten($color3, 20%); = #E08585
		hr
	.row.colorPalette
		.small-12.large-12.columns.color4
			code $color4-dark10: darken($color4, 10%); = #197612
		.small-12.large-12.columns.color4
			code $color4-dark5: darken($color4, 5%); = #1D8C16
		.small-12.large-12.columns.color4
			code $color4; = #22A219
		.small-12.large-12.columns.color4
			code $color4-light5: lighten($color4, 5%); = #27B81C
		.small-12.large-12.columns.color4
			code $color4-light10: lighten($color4, 10%); = #2BCE20
		.small-12.large-12.columns.color4
			code $color4-light15: lighten($color4, 15%); = #35DE29
		.small-12.large-12.columns.color4
			code $color4-light20: lighten($color4, 20%); = #4AE140
		hr
	.row.colorPalette
		.small-12.large-12.columns.color5
			code $color5-dark10: darken($color5, 10%); = #0184FF
		.small-12.large-12.columns.color5
			code $color5-dark5: darken($color5, 5%); = #1B91FF
		.small-12.large-12.columns.color5
			code $color5; = #349DFF
		.small-12.large-12.columns.color5
			code $color5-light5: lighten($color5, 5%); = #4DA9FF
		.small-12.large-12.columns.color5
			code $color5-light10: lighten($color5, 10%); = #67B6FF
		.small-12.large-12.columns.color5
			code $color5-light15: lighten($color5, 15%); = #80C2FF
		.small-12.large-12.columns.color5
			code $color5-light20: lighten($color5, 20%); = #9ACEFF
		hr
	.row.colorPalette
		.small-12.large-12.columns.color6
			code $color6-dark10: darken($color6, 10%); = #C27614
		.small-12.large-12.columns.color6
			code $color6-dark5: darken($color6, 5%); = #D98416
		.small-12.large-12.columns.color6
			code $color6; = #E89121
		.small-12.large-12.columns.color6
			code $color6-light5: lighten($color6, 5%); = #EA9C38
		.small-12.large-12.columns.color6
			code $color6-light10: lighten($color6, 10%); = #EDA84F
		.small-12.large-12.columns.color6
			code $color6-light15: lighten($color6, 15%); = #EFB366
		.small-12.large-12.columns.color6
			code $color6-light20: lighten($color6, 20%); = #F2BF7D
		hr
	.row.colorPalette
		.small-12.large-12.columns.color7
			code $color7-dark10: darken($color7, 10%); = #00CCCC
		.small-12.large-12.columns.color7
			code $color7-dark5: darken($color7, 5%); = #00E5E6
		.small-12.large-12.columns.color7
			code $color7; = #00FFFF
		hr
	.row.colorPalette
		.small-12.large-12.columns.color8
			code $color8-dark10: darken($color8, 10%); = #0000CC
		.small-12.large-12.columns.color8
			code $color8-dark5: darken($color8, 5%); = #0000E6
		.small-12.large-12.columns.color8
			code $color8; = #0000FF
		.small-12.large-12.columns.color8
			code $color8-light5: lighten($color8, 5%); = #1A1AFF
		.small-12.large-12.columns.color8
			code $color8-light10: lighten($color8, 10%); = #3333FF
		.small-12.large-12.columns.color8
			code $color8-light15: lighten($color8, 15%); = #4D4DFF
		.small-12.large-12.columns.color8
			code $color8-light20: lighten($color8, 20%); = #6666FF
		hr
	.row.colorPalette
		.small-12.large-12.columns.color9
			code $color9-dark10: darken($color9, 10%); = #6600CC
		.small-12.large-12.columns.color9
			code $color9-dark5: darken($color9, 5%); = #7200E6
		.small-12.large-12.columns.color9
			code $color9; = #7F00FF
		.small-12.large-12.columns.color9
			code $color9-light5: lighten($color9, 5%); = #8C1AFF
		.small-12.large-12.columns.color9
			code $color9-light10: lighten($color9, 10%); = #9933FF
		.small-12.large-12.columns.color9
			code $color9-light15: lighten($color9, 15%); = #A54DFF
		.small-12.large-12.columns.color9
			code $color9-light20: lighten($color9, 20%); = #B266FF
		hr
	.row.colorPalette
		.small-12.large-12.columns.color10
			code $color10-dark10: darken($color10, 10%); = #CC00CC
		.small-12.large-12.columns.color10
			code $color10-dark5: darken($color10, 5%); = #E600E5
		.small-12.large-12.columns.color10
			code $color10; = #FF00FF
		.small-12.large-12.columns.color10
			code $color10-light5: lighten($color10, 5%); = #FF1AFF
		.small-12.large-12.columns.color10
			code $color10-light10: lighten($color10, 10%); = #FF33FF
		.small-12.large-12.columns.color10
			code $color10-light15: lighten($color10, 15%); = #FF4DFF
		.small-12.large-12.columns.color10
			code $color10-light20: lighten($color10, 20%); = #FF66FF
		hr
	.row.colorPalette
		.small-12.large-12.columns.color11
			code $color11-dark10: darken($color11, 10%); = #1A1A1A
		.small-12.large-12.columns.color11
			code $color11-dark5: darken($color11, 5%); = #262626
		.small-12.large-12.columns.color11
			code $color11; = #333333
		.small-12.large-12.columns.color11
			code $color11-light5: lighten($color11, 5%); = #404040
		.small-12.large-12.columns.color11
			code $color11-light10: lighten($color11, 10%); = #4D4D4D
		.small-12.large-12.columns.color11
			code $color11-light15: lighten($color11, 15%); = #595959
		.small-12.large-12.columns.color11
			code $color11-light20: lighten($color11, 20%); = #666666
		hr
	.row.colorPalette
		.small-12.large-12.columns.color12
			code $color12; = #FFFFFF
		.small-12.large-12.columns.color12
			code $color12-dark5: darken($color12, 5%); = #F2F2F2
		.small-12.large-12.columns.color12
			code $color12-dark10: darken($color12, 10%); = #E6E6E6
		.small-12.large-12.columns.color12
			code $color12-dark15: darken($color12, 15%); = #D9D9D9
		.small-12.large-12.columns.color12
			code $color12-dark20: darken($color12, 20%); = #CCCCCC